.datagrid table { 
border-collapse: collapse; 
text-align: left; 
width: 100%; } 

.datagrid {
font: normal 40px/150% Tahoma; 
background: #fff; 
overflow: hidden; 
border: 1px solid #654C4F; 
-webkit-border-radius: 3px; 
-moz-border-radius: 3px; 
border-radius: 3px; }

.datagrid table td, .datagrid table th { padding: 3px 10px; }
.datagrid table thead th {
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9DA9A0), color-stop(1, #C0CAAD) );
background:-moz-linear-gradient( center top, #9DA9A0 5%, #C0CAAD 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9DA9A0', endColorstr='#C0CAAD');
background-color:#9DA9A0; color:#FFFFFF; font-size: 20px; font-weight: bold; border-left: 1px solid #654C4F; 
text-align: center; } 
.datagrid table thead th:first-child { border: none; }
.datagrid table tbody td { color: #00496B; border-left: 1px solid #654C4F;font-size: 14px;font-weight: normal; text-align: center;}
.datagrid table tbody .alt td { background: #C0CAAD; color: #00496B; }.datagrid table tbody td:first-child { border-left: none; }
.datagrid table tbody tr:last-child td { border-bottom: none; }
.datagrid table tfoot td div { border-top: 1px solid #654C4F;background: #C0CAAD;} 
.datagrid table tfoot td { padding: 0; font-size: 12px } 
.datagrid table tfoot td div{ padding: 2px; }
.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }
.datagrid table tfoot  li { display: inline; }
.datagrid table tfoot li a { 
text-decoration: none; 
display: inline-block;  
padding: 2px 8px; 
margin: 1px;
color: #FFFFFF;
border: 1px solid #006699;
-webkit-border-radius: 3px; 
-moz-border-radius: 3px; 
border-radius: 3px; 
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
background-color:#006699; }
.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { 
text-decoration: none;
border-color: #006699; 
color: #FFFFFF; 
background: none; 
background-color:#00557F;}
div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }